/* TODO add some general header styles */

.header {
    margin: 0px;
    padding: 10px;
    border-bottom: thin ridge #ccc;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0em 1em;
    grid-template-areas: "headerButton headerTitle headerSearch";
    align-items: baseline;
}

.headerTitle {
    grid-area: headerTitle;
    text-align: center;
}

.headerButton {
    grid-area: headerButton;
}

.headerSearch {
    grid-area: headerSearch;
}
