/* TODO general sidebar styles */
.sidebar {
    padding: 10px;
    margin: 0px;
    border-right: thin ridge #ccc;
    border-top: thin ridge #ccc;
}

/* TODO expanded styles */
.app-sidebar.expanded {
    /* width: ??? */
}

/* TODO collapsed styles */
.app-sidebar.collapsed {
    display: none;
    /* width: ??? */
}
