/* TODO general sidebar styles */
.sidebar {
    padding: 2rem;
    margin: 0px;
    border-right: thin ridge #ccc;
}

/* TODO expanded styles */
.app-sidebar.expanded {
    /* width: ??? */
}

/* TODO collapsed styles */
.app-sidebar.collapsed {
    /* display: none; */
    /* width: ??? */
}

.collapsed {
    display: none;
}

.dropdown {
    margin-top: 1rem;
}

.data-filters {
    margin-top: 4rem;
}

.filter-group {
    margin-top: 1rem;
}

.filter-options {
    padding-left: 2rem;
}
